 
body {
  margin: 0;
  padding: 0;
  background: url(pexels-merlin-11167645.jpg);
  background-size: cover;

}


.navbar {  
  backdrop-filter: blur(10px); 
  color: rgb(0, 0, 0);  
  padding: 10px;  
  margin: 6px;        
}


.navbar a {
  color: white;  
  text-decoration: double;  
   border-radius: 60px;             
  margin: 13px 20px; 
  padding-top:3px  ;         
  display: inline-block;        
}

.navbar a:hover {
  background-color: black;       
}
.search{
  float: right;
  font-style: italic;
  color: rgb(0, 0, 0);
  padding: 12px 70px;

}
.navbar input{
  border: 2px solid black;
  align-items: center;
  font: 1em sans-serif;
  border-radius: 14px;
  padding:3px 17px;
  width: 129px;
}
